body {
  background-color: #d9d9d9;
  height:100%;
  font-family: 'Noto Serif JP', serif;
  font-weight: 700;
}

.mainClass {
  margin-top:5%;
}

.back {
  font-size: 35px;
  background-color: #686868;
  color: #d9d9d9;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 20px;
}

.blog-create {
  font-size: 3.5em;
  display: flex;
  text-align: center;
  justify-content: center;

}



label {
  font-size: 2em;
  text-align: center;
  justify-content: center;
}

form {
  width: 80vw;
  margin: 0px auto;
  margin-top:2em;
}

input {
  width: 90%;
  height: 1.5em;
  font-size: 25px;
  background-color: rgba(118, 143, 184, 0.27);
}

textarea {
  width: 100%;
  height: 13em;
  font-size: 25px;
  background-color: rgba(118, 143, 184, 0.27);
}

button {
  font-size: 2em;
  padding: 4px 40px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
}
.onsei button{
  font-family: 'Noto Serif JP', serif;
  font-weight: 700;


}
.onsei {
  display:flex;
  margin-top:10px;
}
.submit-button button{
  font-family: 'Noto Serif JP', serif;
  font-weight: 700;
  background-color: rgba(118, 143, 184, 0.27);
  color:black;
}